openapi: 3.1.0
info:
  title: Miraculixx Instant Gaming Stats API
  version: 2.0.0
  description: |
    External API contract used by the Next.js Instant Gaming analytics frontend.

    ## BREAKING CHANGES in 2.0.0 (official IG API migration)
    - The underlying data model was split into stable `game_meta` + time-series `snapshot_prices`.
    - `platform` is renamed to `type` everywhere (meta, overview, games).
    - Removed fields on game rows: `isDlc`, `isSub`, `isPrepaid`, `seoName`, `hasStock`, `prodId`, `platform`.
    - New fields on game rows: `id`, `type`, `url`, `categories`, `description`, `topseller`, `giftcard`, `inStock`, `steamId`.
    - `MetaResponse.platforms` -> `MetaResponse.types`.
    - **Overview filters changed**: `includeDlc` is removed. Added `onlyTopseller` (default `false`; when `true`, overrides `includePreorder` / `includeGiftcard` and returns only topseller games). Added `includeGiftcard` (default `false`, giftcards are excluded by default).
    - **Games filters changed**: removed `prepaid`, `isDlc`; added `giftcard`, `topseller`, `inStock`. `preorder` remains.
    - History endpoint: request parameter `prodId` is deprecated; use `id` instead (`prodId` still accepted for one release). Response: `seoName` removed, `type` and `url` added.
servers:
  - url: https://api.miraculixx.de
    description: Production
paths:
  /stats/ig/meta:
    get:
      summary: Fetch metadata for filters
      operationId: getStatsIgMeta
      responses:
        '200':
          description: Metadata for UI filter initialization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /stats/ig/overview:
    get:
      summary: Fetch aggregated time-series overview metrics
      operationId: getStatsIgOverview
      description: |
        Aggregated series over a date range.
        **Changed in 2.0.0**: `includeDlc` removed. Added `onlyTopseller` and `includeGiftcard`.
      parameters:
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Interval'
        - $ref: '#/components/parameters/Type'
        - $ref: '#/components/parameters/OnlyTopseller'
        - $ref: '#/components/parameters/IncludePreorder'
        - $ref: '#/components/parameters/IncludeGiftcard'
      responses:
        '200':
          description: Overview series payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverviewResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /stats/ig/games/history:
    get:
      summary: Fetch price/discount history for a single game
      operationId: getStatsIgGamesHistory
      description: |
        Price history for a single game by `id`.
        **Changed in 2.0.0**: `prodId` renamed to `id` (old name still accepted). Response drops `seoName` and adds `type`, `url`.
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: Game ID to fetch history for.
        - name: prodId
          in: query
          required: false
          deprecated: true
          schema:
            type: integer
          description: Deprecated alias for `id`. Will be removed in a future release.
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Start date in YYYY-MM-DD (inclusive).
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date
          description: End date in YYYY-MM-DD (inclusive).
      responses:
        '200':
          description: Game history payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameHistoryResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /stats/ig/games:
    get:
      summary: Fetch paginated game rows for a snapshot
      operationId: getStatsIgGames
      description: |
        Paginated games list for a snapshot.
        **Changed in 2.0.0**: filters `prepaid` and `isDlc` removed; `giftcard`, `topseller`, `inStock` added.
        Row payload is broader — see `GameRow`.
      parameters:
        - $ref: '#/components/parameters/SnapshotTs'
        - $ref: '#/components/parameters/Type'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Preorder'
        - $ref: '#/components/parameters/Giftcard'
        - $ref: '#/components/parameters/Topseller'
        - $ref: '#/components/parameters/InStock'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortDir'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Games list payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GamesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
components:
  parameters:
    From:
      name: from
      in: query
      required: true
      schema:
        type: string
        format: date
      description: Start date in YYYY-MM-DD.
    To:
      name: to
      in: query
      required: true
      schema:
        type: string
        format: date
      description: End date in YYYY-MM-DD.
    Interval:
      name: interval
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/Interval'
      description: Aggregation step.
    Type:
      name: type
      in: query
      required: false
      schema:
        type: string
        default: all
      description: |
        Game type filter (e.g. "Steam", "Origin", "giftcard") or `all`.
        **New in 2.0.0** — replaces the previous `platform` parameter.
    OnlyTopseller:
      name: onlyTopseller
      in: query
      required: false
      schema:
        type: boolean
        default: false
      description: |
        **New in 2.0.0.** When `true`, only topseller games are considered and
        the `includePreorder` / `includeGiftcard` flags are ignored.
    IncludePreorder:
      name: includePreorder
      in: query
      required: false
      schema:
        type: boolean
        default: true
      description: Include preorder games in aggregations. Ignored when `onlyTopseller=true`.
    IncludeGiftcard:
      name: includeGiftcard
      in: query
      required: false
      schema:
        type: boolean
        default: false
      description: |
        **New in 2.0.0.** Include giftcard entries in aggregations.
        Defaults to `false` — giftcards are excluded unless explicitly requested.
        Ignored when `onlyTopseller=true`.
    SnapshotTs:
      name: snapshotTs
      in: query
      required: true
      schema:
        type: string
        format: date-time
      description: Snapshot timestamp. Date-only values may also be accepted.
    Search:
      name: search
      in: query
      required: false
      schema:
        type: string
      description: Free-text search over game name.
    Preorder:
      name: preorder
      in: query
      required: false
      schema:
        type: boolean
      description: Filter by preorder flag.
    Giftcard:
      name: giftcard
      in: query
      required: false
      schema:
        type: boolean
      description: '**New in 2.0.0.** Filter by giftcard flag.'
    Topseller:
      name: topseller
      in: query
      required: false
      schema:
        type: boolean
      description: '**New in 2.0.0.** Filter by topseller flag.'
    InStock:
      name: inStock
      in: query
      required: false
      schema:
        type: boolean
      description: '**New in 2.0.0.** Filter by current stock availability.'
    SortBy:
      name: sortBy
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/GameSortField'
    SortDir:
      name: sortDir
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/SortDirection'
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      name: pageSize
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
  responses:
    ErrorResponse:
      description: API error payload
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
  schemas:
    Interval:
      type: string
      enum: [day, week, month]
    SortDirection:
      type: string
      enum: [asc, desc]
    GameSortField:
      type: string
      enum: [discount, absDiscount, price, retail, name]
    MetaResponse:
      type: object
      required: [types, earliestSnapshotTs, latestSnapshotTs, supportedIntervals]
      description: '**Changed in 2.0.0**: `platforms` renamed to `types`.'
      properties:
        types:
          type: array
          items:
            type: string
          description: Distinct `type` values (formerly `platforms`).
        earliestSnapshotTs:
          type: string
          format: date-time
        latestSnapshotTs:
          type: string
          format: date-time
        supportedIntervals:
          type: array
          items:
            $ref: '#/components/schemas/Interval'
    OverviewQuery:
      type: object
      required: [from, to, interval, type, onlyTopseller, includePreorder, includeGiftcard]
      description: '**Changed in 2.0.0**: `platform`→`type`; `includeDlc` removed; `onlyTopseller` and `includeGiftcard` added.'
      properties:
        from:
          type: string
          format: date
        to:
          type: string
          format: date
        interval:
          $ref: '#/components/schemas/Interval'
        type:
          type: string
        onlyTopseller:
          type: boolean
        includePreorder:
          type: boolean
        includeGiftcard:
          type: boolean
    OverviewPoint:
      type: object
      required:
        - snapshotTs
        - gameCount
        - avgDiscount
        - minDiscount
        - maxDiscount
        - avgAbsDiscount
        - minAbsDiscount
        - maxAbsDiscount
      properties:
        snapshotTs:
          type: string
          format: date-time
        gameCount:
          type: integer
        avgDiscount:
          type: number
        minDiscount:
          type: integer
        maxDiscount:
          type: integer
        avgAbsDiscount:
          type: number
        minAbsDiscount:
          type: number
        maxAbsDiscount:
          type: number
    OverviewResponse:
      type: object
      required: [query, points]
      properties:
        query:
          $ref: '#/components/schemas/OverviewQuery'
        points:
          type: array
          items:
            $ref: '#/components/schemas/OverviewPoint'
    GamesQuery:
      type: object
      required: [snapshotTs, type, sortBy, sortDir, page, pageSize]
      description: '**Changed in 2.0.0**: `platform`→`type`; `prepaid`/`isDlc` removed; `giftcard`/`topseller`/`inStock` added.'
      properties:
        snapshotTs:
          type: string
          format: date-time
        type:
          type: string
        search:
          type: string
        preorder:
          type: [boolean, 'null']
        giftcard:
          type: [boolean, 'null']
        topseller:
          type: [boolean, 'null']
        inStock:
          type: [boolean, 'null']
        sortBy:
          $ref: '#/components/schemas/GameSortField'
        sortDir:
          $ref: '#/components/schemas/SortDirection'
        page:
          type: integer
        pageSize:
          type: integer
    GameRow:
      type: object
      description: '**Changed in 2.0.0**: dropped `prodId`, `platform`, `seoName`, `isSub`, `isPrepaid`, `isDlc`, `hasStock`. Added `id`, `type`, `url`, `categories`, `description`, `topseller`, `giftcard`, `inStock`, `steamId`.'
      required:
        - snapshotTs
        - id
        - name
        - type
        - url
        - categories
        - topseller
        - preorder
        - giftcard
        - inStock
        - retail
        - price
        - discount
        - absDiscount
      properties:
        snapshotTs:
          type: string
          format: date-time
        id:
          type: integer
        name:
          type: string
        type:
          type: string
        url:
          type: string
        categories:
          type: array
          items:
            type: string
        description:
          type: [string, 'null']
        topseller:
          type: boolean
        preorder:
          type: boolean
        giftcard:
          type: boolean
        inStock:
          type: boolean
        steamId:
          type: [integer, 'null']
        retail:
          type: number
        price:
          type: number
        discount:
          type: integer
        absDiscount:
          type: number
    GamesResponse:
      type: object
      required: [query, rows, total, page, pageSize]
      properties:
        query:
          $ref: '#/components/schemas/GamesQuery'
        rows:
          type: array
          items:
            $ref: '#/components/schemas/GameRow'
        total:
          type: integer
        page:
          type: integer
        pageSize:
          type: integer
    GameHistoryPoint:
      type: object
      required: [snapshotTs, price, retail, discount, absDiscount]
      properties:
        snapshotTs:
          type: string
          format: date-time
        price:
          type: number
        retail:
          type: number
        discount:
          type: integer
        absDiscount:
          type: number
    GameHistoryResponse:
      type: object
      required: [id, name, type, url, points]
      description: '**Changed in 2.0.0**: `prodId`→`id`; `seoName` removed; `type` and `url` added.'
      properties:
        id:
          type: integer
        name:
          type: string
        type:
          type: string
        url:
          type: string
        points:
          type: array
          items:
            $ref: '#/components/schemas/GameHistoryPoint'
    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
